*
!/packages/
!/scripts/
/packages/*/node_modules
packages/server/scripts/
!packages/server/scripts/integrations/oracle
!nx.json
!/hosting/single/
!/hosting/letsencrypt /

!.node_modules
!package.json
!yarn.lock
!lerna.json
!.yarnrc