[submodule "packages/pro"]
	path = packages/pro
	url = git@github.com:Budibase/budibase-pro.git
[submodule "packages/account-portal"]
	path = packages/account-portal
	url = git@github.com:Budibase/account-portal.git
[submodule "packages/budibase-locales"]
	path = packages/budibase-locales
	url = https://github.com/akrasnov87/budibase-locales
